
*{
    margin: 0;
    padding: 0;
}
body{
  background-color: #313e48; 
 
}
.title
{
    display: flex;
    flex-direction: row;
    width:100%;
    height: auto;
    justify-content: center;
}
#hlogo
{
    background-color: #00b1db;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
   
}

.walkicon{
     border: 3px solid #E5EEF1;
     margin-top: 10px;
     border-radius: 50%;
    
}
.headercontent{
    margin-left: 10px;
}
.container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: auto;
    align-items: center;
    justify-content: center;
    padding-top: 40px; 
    align-items: center;
}
.box
{
    width:50%;
}
.child1{
    display:flex;
    flex-direction: column;
}
.logo
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin-top: 15px;
}
.logo1
{
   padding-right: 10px;
}
.logo3{
    color: #FF4948;
}
.firstbox
{
    display: flex;
    flex-direction: row;
}
.len{
    width:50px;
    height:50px;
    border: 1px solid red;
}

h2{
    color: #FF4948;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 5px;
}
h3{
    color:#D4DFDD;
    font-weight: bold;
    font-size: 30px;
}
.physical{
    margin:  0;
    padding:  20px ;
}
 li{
    list-style: none;
}
.childcare{
  margin-top: 45px;
  padding: 30px;
 
}
.frenchfries{
   
   padding: 10px;
   font-size: 90px;
   color: orange;
   text-align: center;
   margin-left: 50px;
   margin-bottom: 20px;
}
.juice{
    padding:  50px;
    padding-bottom:  0;
    font-size: 90px;
    color: #FF4948;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 20px;
}
.laptop{
    padding:  50px;
    padding-bottom:  0;
    font-size: 90px;
    color: black;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 20px;

}
.cycle
{
    font-size: 90px;
    color: #FF4948;
}
.corn{
    padding: 60px;
    padding-top: 0;
} 
.obese
{
    width:50%;
    height:autopx ;
    display: flex;
}
.obeseoverweight
{
    width:50%;
    height:auto;
    background-color:#FF9600;
}
.obesecontenthigh
{
    text-align: center;
    font-size: 30px; 
    color: white;
}
.obesecontentlow
{
    text-align: center; 
    font-size: 20px; 
     color: white;
}
.obesechildcare{
    width:50%;
    height:auto;
    background-color: #00B3CB
}
.chronic{
    background-color: #FF4948;
    width:50%;
    height:auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
.chroniccondition{
  color: white;
  font-size: 20px;
  padding: 10px
}
.chronicconditionhigh{
    color: white;
    font-size: 30px;
    padding: 10px
}
.chronicways
{
     width:100%;
     padding: 5px;
     height:auto;
     display:flex;
     justify-content: space-between;
}
.risk{
     background-color: #00B3CB; 
     width:50%;
     height:auto;
     display: flex;
}
.fries{
     background-color: #FF4948;
     margin-top:10px; 
     width:50%;
     height:auto;
     display: flex;
}
.todoolers
{
    margin-top: 10px; 
    width:50%;
    background-color: #00B3CB;
    height:auto;
    display: flex;
}
.laptop
{
     margin-top: 10px;
     width:50%;
     height:auto;
     display: flex; 
}
.preschool
{
   margin-top: 10px; 
   width:50%;
   background-color:orange;
   height:auto;display: flex;
}
.dollar
{
    background-color: #00B3CB; 
    margin-top:10px; 
    width:50%;
    height:auto;
    display: flex;
}

.commonwidthheight
{
    width:100%;
    height:auto
}
.commonwidthsplit{
    width:50%;
    height:auto;
}